.head{
    color:red;
    text-align: center;
}

/* ----------------------------- */

.form{
    color:green;
    text-align: center;
}

.div{
    margin: auto;
    border:1px solid black;
    width: 400px;
    height: 280px;
}
.formdiv{
    text-align: center;
}

/* --------------------------------- */

.form2{
    color:green;
    text-align: center;
}

/* ------------ */

.todobtn{
    /* background-color: none; */
    color:red;
    margin-left: 10px;
    background: none;
    border: none;
    cursor: pointer;
}