.head{
    color:red;
    text-align: center;
}

/* ----------------------------- */

.form{
    color:green;
    text-align: center;
}

.div{
    margin: auto;
    border:1px solid black;
    width: 400px;
    height: 280px;
}
.formdiv{
    text-align: center;
}

/* --------------------------------- */

.form2{
    color:green;
    text-align: center;
}